---
import Layout from "../layouts/Layout.astro";
const platform = "github"
const username = "Cup8"
---
<Footer>https://github.com/Cup8/Astro-Project
  <p>Learn more about my projects on <a href={`https://${platform}.com/${username}`}>{platform}</a>!</p>
</Footer>