---
import Layout from "../layouts/Layout.astro"
---
<Layout> 
    <h1 class="title">CUP Blog</h1>
    <slot  />
    <style>
        .title {
            font-size: 4rem;
            font-family:sans-serif;
            background-color: red;
            text: black;
            
        }
    </style>
</Layout>